@import url(https://fonts.googleapis.com/css?family=Inconsolata);

html, body {
    margin-left: 0.5rem;
    margin-right: 1.0rem;
    text-align: justify;
    font-family: 'Inconsolata', Consolas, Ubuntu Mono, monospace;
    font-size: 1.1rem;
    color: #e0e1e9;
    background-color: #222129;
}

a[href] {
    color: #44dddd;
}

a[href]:hover { 
    color: #dddd44;
}

header {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
}

nav {
    margin-bottom: 1em;
    text-align: left;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-right: 0.5em;
    display: inline;
    list-style: none;
}

article {

}

span.article-dates {
    font-size: 1rem;
    font-style: italic;
    color: #606169;
}

footer {
    margin-top: 3rem;
    text-align: left;
    font-size: 1rem;
    color: #606169;
}

